allow init goodixfingerprintd : process { transition noatsecure siginh rlimitinh } ; 
dontaudit init goodixfingerprintd : process noatsecure ; 
allow init fingerprintd:binder call;
allow init goodixfingerprintd_device:chr_file { ioctl write };
allow init self:netlink_socket { bind create read write };
allow init servicemanager:binder { call transfer };
allow init system_server:binder call;
allow init tee_device:chr_file { ioctl write };