# /data/goodix labeling
type_transition tee system_data_file:{ dir file } goodixfingerprintd_data_file;

allow tee goodixfingerprintd_data_file:dir create_dir_perms;
allow tee goodixfingerprintd_data_file:file create_file_perms;
allow tee system_data_file:dir create_dir_perms;
allow tee goodixfingerprintd_data_file : dir { ioctl read write create getattr lock add_name remove_name search open } ;
