allow untrusted_app adbsecure_prop:file { getattr open };
allow untrusted_app adbtcp_prop:file { getattr open };
allow untrusted_app boot_mode_prop:file { getattr open };
allow untrusted_app logpersistd_logging_prop:file open;
allow untrusted_app media_msm8953_version_prop:file { getattr open };
allow untrusted_app media_settings_xml_prop:file { getattr open };
allow untrusted_app mmc_prop:file { getattr open };
allow untrusted_app mpdecision_prop:file { getattr open };
allow untrusted_app recovery_prop:file { getattr open };
allow untrusted_app rootfs:file { getattr open read };
allow untrusted_app safemode_prop:file { getattr open };
allow untrusted_app self:udp_socket ioctl;
allow untrusted_app spcomlib_prop:file { getattr open };
allow untrusted_app sys_usb_configfs_prop:file { getattr open };
allow untrusted_app sys_usb_controller_prop:file { getattr open };
allow untrusted_app sys_usb_tethering_prop:file { getattr open };
allow untrusted_app sysfs:dir { open read };
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app system_data_file:file getattr;
allow untrusted_app userinit_prop:file { getattr open };
allow untrusted_app self:udp_socket ioctl;
