service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.m1721
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks
    disabled


service goodixfpd /system/bin/goodixfingerprintd
    class late_start
    user root
    group root system sdcard_rw media_rw

on boot
    # Fingerprint Permissions
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

service goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user system
    oneshot
