service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.m1721
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks
    disabled

service vendor.gx_fpd /vendor/bin/gx_fpd
     class core
     user system
     group system drmrpc
     writepid /dev/cpuset/system-background/tasks

on boot
    # Fingerprint Permissions
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

service goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user system
    oneshot

on property:sys.fp.onstart=1
   setprop goodix.fp.miui.analyse 1
   setprop goodix.fp.miui.token 0
   setprop ro.boot.fpsensor gdx
   setprop ro.hardware.fingerprint goodix
   start vendor.fps_hal
