on init
    # Notification LED
    chown system system /sys/class/leds/mx-led/blink
    chown system system /sys/class/leds/mx-led/brightness

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.m1721
    class hal
    user system
    group system
    shutdown critical
